body {
    margin: 0;
    padding: 0;
    background-image: url("../img/backgroundgray3.jpg");
    height: 100vh;
    color: #fff;
  }
  #addfriend .container #addfriend-row #addfriend-column #addfriend-box {
    margin-top: 100px;
    width: 720px;
    height: auto;
    background-color: #212226;
    border-radius: 5px;
    padding: 30px;
  }
  #addfriend .container #addfriend-row #addfriend-column #addfriend-box #addfriend-form {
    padding: 30px;
  }
.btn-blk{
    background-color: #1f2021;
    color: #fff;
}
.btn-blk:hover{
  color: #6F6877;
}
.btn-rum{
    background-color: #6F6877;
    height: 45px;
    color: #fff;
}

.text-gray{
    color: #696969;
}