html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../img/backgroundgray3.jpg");
  color: #fff;
}
#chatbox {
  margin-top: 30px;
  width: 720px;
  height: auto;
  background-color: #212226;
  border-radius: 5px;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.chatwindow{
  position: absolute;
	top:50;
	bottom: 50;
	left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  padding: 30px; 
}
h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.btn-rum{
  background-color: #6F6877;
  height: 45px;
  color: #fff;
}

.text-gray{
  color: #696969;
}