body {
    margin: 0;
    padding: 0;
    background-image: url("../img/background.jpg");
    height: 100vh;
  }
  #creategroup .container #creategroup-row #creategroup-column #creategroup-box {
    margin-top: 100px;
    width: 720px;
    height: auto;
    background-color: #000;
    border-radius: 5px;
    padding: 30px;
  }
  #creategroup .container #creategroup-row #creategroup-column #creategroup-box #creategroup-form {
    padding: 30px;
  }

.btn-rum{
    background-color: #6F6877;
    height: 45px;
    color: #fff;
}

.text-gray{
    color: #696969;
}