body {
    margin: 0;
    padding: 0;
    background-image: url("../img/background.jpg");
    height: 100vh;
  }
  .float-container {
    padding: 20px;
    margin-left: 180px;
    
}
.float-child {
    margin-top: 30px;
    width: 500px;
    float: left;
    padding: 20px;
    height: 600px;
    background-color: #000;
}
#logo{
    margin-top: 140px;
    text-align: center;
} 
#username{
    margin-top: 40px;
    text-align: center;
} 

  #login .container #login-row #login-column #login-box {
    left: 70%;
    margin-top: 100px;
    width: 720px;
    height: 520px;
    background-color: #000;
    border-radius: 5px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 30px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }


.btn-rum{
    background-color: #6F6877;
    height: 45px;
    color: #fff;
}

.text-gray{
    color: #696969;
}