body {
    margin: 0;
    padding: 0;
    background-image: url("../img/backgroundpurp.jpg");
    height: 100vh;
    color: #fff;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 67px;
    width: 720px;
    height: auto;
    background-color: #212226;
    border-radius: 5px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 30px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }


.btn-rum{
    background-color: #6F6877;
    height: 45px;
    color: #fff;
}

.text-gray{
    color: #696969;
}