body {
    margin: 0;
    padding: 0;
    background-image: url("../img/backgroundpurp.jpg");
    height: 100vh;
    color: #fff;
  }
  #register .container #register-row #register-column #register-box {
    margin-top: 45px;
    width: 720px;
    height: auto;
    background-color: #212226;
    border-radius: 5px;
    font-size: 13px;
  }
  #register .container #register-row #register-column #register-box #register-form {
    padding: 30px;
  }
  #register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;
  }

.btn-rum{
    background-color: #6F6877;
    height: 45px;
    color: #fff;
}

.text-gray{
    color: #696969;
}