<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link href="{{ url_for('static',filename='css/creategroup.css') }}"  rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="../static/img/chatpurp-small.png" />
        <title>Chat! Create a New Group</title>
    </head>
    <body>
        <div id="creategroup">
            <div class="container">
                <div id="creategroup-row" class="row justify-content-center align-items-center">
                    <div id="creategroup-column" class="col-md-6">
                        <div id="creategroup-box" class="col-md-12">
                            <form id="register-form" class="form" action="" method="POST">
                                <img src="../static/img/chatgray.png" alt="Logo App-Chat!" width="100" height="70" style="margin-bottom: 15px;">
                                <h3>Create a new Group</h3>
                                <div class="form-group">
                                    <label for="name" class="text-white">NAMA GROUP</label><br>
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="description" class="text-white">DESKRIPSI GROUP</label><br>
                                    <input type="text" name="description" id="description" class="form-control">
                                </div>
                                <div class="form-group">
                                    <div class="text-white">{{ msg }}</div>
                                    <input type="submit" class="btn btn-rum form-control" value="Buat Grup">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>